<div class="container">
  <h2>BOARD</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>작성시간</th>
        <th>조회수</th>
        <th>좋아요</th>
      </tr>
    </thead>
    <tbody>    
      <tr>
        <td>{{board.biNum}}></td>
        <td>{{board.biTitle}}</td> 
        <td>{{board.biWriter}}</td> 
        <td>{{board.biCredat}}</td> 
        <td>{{board.biCretim}}</td> 
        <td>{{board.biCnt}}</td>
        <td>{{board.biLike}}</td>         
      </tr>
    </tbody>
  </table> 
</div>
